<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hframework.hamster.cfg.dao.CfgNodeMapper" >
  <resultMap id="BaseResultMap" type="com.hframework.hamster.cfg.domain.model.CfgNode" >
    <constructor >
      <idArg column="cfg_node_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="cfg_node_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cfg_node_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ip" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="creator_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="modifier_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="modify_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="labels" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    cfg_node_id, cfg_node_code, cfg_node_name, ip, creator_id, create_time, modifier_id, 
    modify_time, labels
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hframework.hamster.cfg.domain.model.CfgNode_Example" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from `cfg_node`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitEnd != null and limitEnd != 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from `cfg_node`
    where cfg_node_id = #{cfgNodeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from `cfg_node`
    where cfg_node_id = #{cfgNodeId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hframework.hamster.cfg.domain.model.CfgNode_Example" >
    delete from `cfg_node`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hframework.hamster.cfg.domain.model.CfgNode" >
    <selectKey resultType="java.lang.Long" keyProperty="cfgNodeId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `cfg_node` (cfg_node_code, cfg_node_name, ip, 
      creator_id, create_time, modifier_id, 
      modify_time, labels)
    values (#{cfgNodeCode,jdbcType=VARCHAR}, #{cfgNodeName,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, 
      #{creatorId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{modifierId,jdbcType=BIGINT}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{labels,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hframework.hamster.cfg.domain.model.CfgNode" >
    <selectKey resultType="java.lang.Long" keyProperty="cfgNodeId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `cfg_node`
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cfgNodeCode != null" >
        cfg_node_code,
      </if>
      <if test="cfgNodeName != null" >
        cfg_node_name,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="creatorId != null" >
        creator_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifierId != null" >
        modifier_id,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="labels != null" >
        labels,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cfgNodeCode != null" >
        #{cfgNodeCode,jdbcType=VARCHAR},
      </if>
      <if test="cfgNodeName != null" >
        #{cfgNodeName,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null" >
        #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="labels != null" >
        #{labels,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hframework.hamster.cfg.domain.model.CfgNode_Example" resultType="java.lang.Integer" >
    select count(*) from `cfg_node`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update `cfg_node`
    <set >
      <if test="record.cfgNodeId != null" >
        cfg_node_id = #{record.cfgNodeId,jdbcType=BIGINT},
      </if>
      <if test="record.cfgNodeCode != null" >
        cfg_node_code = #{record.cfgNodeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cfgNodeName != null" >
        cfg_node_name = #{record.cfgNodeName,jdbcType=VARCHAR},
      </if>
      <if test="record.ip != null" >
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.creatorId != null" >
        creator_id = #{record.creatorId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifierId != null" >
        modifier_id = #{record.modifierId,jdbcType=BIGINT},
      </if>
      <if test="record.modifyTime != null" >
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.labels != null" >
        labels = #{record.labels,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update `cfg_node`
    set cfg_node_id = #{record.cfgNodeId,jdbcType=BIGINT},
      cfg_node_code = #{record.cfgNodeCode,jdbcType=VARCHAR},
      cfg_node_name = #{record.cfgNodeName,jdbcType=VARCHAR},
      ip = #{record.ip,jdbcType=VARCHAR},
      creator_id = #{record.creatorId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      modifier_id = #{record.modifierId,jdbcType=BIGINT},
      modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      labels = #{record.labels,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hframework.hamster.cfg.domain.model.CfgNode" >
    update `cfg_node`
    <set >
      <if test="cfgNodeCode != null" >
        cfg_node_code = #{cfgNodeCode,jdbcType=VARCHAR},
      </if>
      <if test="cfgNodeName != null" >
        cfg_node_name = #{cfgNodeName,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null" >
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="labels != null" >
        labels = #{labels,jdbcType=VARCHAR},
      </if>
    </set>
    where cfg_node_id = #{cfgNodeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hframework.hamster.cfg.domain.model.CfgNode" >
    update `cfg_node`
    set cfg_node_code = #{cfgNodeCode,jdbcType=VARCHAR},
      cfg_node_name = #{cfgNodeName,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      creator_id = #{creatorId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      labels = #{labels,jdbcType=VARCHAR}
    where cfg_node_id = #{cfgNodeId,jdbcType=BIGINT}
  </update>
</mapper>