<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hframework.hamster.cfg.dao.CfgSubscribeDetailMapper" >
  <resultMap id="BaseResultMap" type="com.hframework.hamster.cfg.domain.model.CfgSubscribeDetail" >
    <constructor >
      <idArg column="cfg_subscribe_detail_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="cfg_subscribe_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="db_object_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cfg_topic_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="db_object_datas" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="partition_strategy" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="partition_key" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="creator_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="modifier_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="modify_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="data_filter_expression" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="db_object_operate_type" jdbcType="TINYINT" javaType="java.lang.Byte" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    cfg_subscribe_detail_id, cfg_subscribe_id, db_object_name, cfg_topic_id, db_object_datas, 
    partition_strategy, partition_key, `status`, creator_id, create_time, modifier_id, 
    modify_time, data_filter_expression, db_object_operate_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hframework.hamster.cfg.domain.model.CfgSubscribeDetail_Example" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from `cfg_subscribe_detail`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitEnd != null and limitEnd != 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from `cfg_subscribe_detail`
    where cfg_subscribe_detail_id = #{cfgSubscribeDetailId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from `cfg_subscribe_detail`
    where cfg_subscribe_detail_id = #{cfgSubscribeDetailId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hframework.hamster.cfg.domain.model.CfgSubscribeDetail_Example" >
    delete from `cfg_subscribe_detail`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hframework.hamster.cfg.domain.model.CfgSubscribeDetail" >
    <selectKey resultType="java.lang.Long" keyProperty="cfgSubscribeDetailId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `cfg_subscribe_detail` (cfg_subscribe_id, db_object_name, cfg_topic_id, 
      db_object_datas, partition_strategy, partition_key, 
      `status`, creator_id, create_time, 
      modifier_id, modify_time, data_filter_expression, 
      db_object_operate_type)
    values (#{cfgSubscribeId,jdbcType=BIGINT}, #{dbObjectName,jdbcType=VARCHAR}, #{cfgTopicId,jdbcType=BIGINT}, 
      #{dbObjectDatas,jdbcType=VARCHAR}, #{partitionStrategy,jdbcType=TINYINT}, #{partitionKey,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{creatorId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifierId,jdbcType=BIGINT}, #{modifyTime,jdbcType=TIMESTAMP}, #{dataFilterExpression,jdbcType=VARCHAR}, 
      #{dbObjectOperateType,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.hframework.hamster.cfg.domain.model.CfgSubscribeDetail" >
    <selectKey resultType="java.lang.Long" keyProperty="cfgSubscribeDetailId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `cfg_subscribe_detail`
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cfgSubscribeId != null" >
        cfg_subscribe_id,
      </if>
      <if test="dbObjectName != null" >
        db_object_name,
      </if>
      <if test="cfgTopicId != null" >
        cfg_topic_id,
      </if>
      <if test="dbObjectDatas != null" >
        db_object_datas,
      </if>
      <if test="partitionStrategy != null" >
        partition_strategy,
      </if>
      <if test="partitionKey != null" >
        partition_key,
      </if>
      <if test="status != null" >
        `status`,
      </if>
      <if test="creatorId != null" >
        creator_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifierId != null" >
        modifier_id,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="dataFilterExpression != null" >
        data_filter_expression,
      </if>
      <if test="dbObjectOperateType != null" >
        db_object_operate_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cfgSubscribeId != null" >
        #{cfgSubscribeId,jdbcType=BIGINT},
      </if>
      <if test="dbObjectName != null" >
        #{dbObjectName,jdbcType=VARCHAR},
      </if>
      <if test="cfgTopicId != null" >
        #{cfgTopicId,jdbcType=BIGINT},
      </if>
      <if test="dbObjectDatas != null" >
        #{dbObjectDatas,jdbcType=VARCHAR},
      </if>
      <if test="partitionStrategy != null" >
        #{partitionStrategy,jdbcType=TINYINT},
      </if>
      <if test="partitionKey != null" >
        #{partitionKey,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null" >
        #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataFilterExpression != null" >
        #{dataFilterExpression,jdbcType=VARCHAR},
      </if>
      <if test="dbObjectOperateType != null" >
        #{dbObjectOperateType,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hframework.hamster.cfg.domain.model.CfgSubscribeDetail_Example" resultType="java.lang.Integer" >
    select count(*) from `cfg_subscribe_detail`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update `cfg_subscribe_detail`
    <set >
      <if test="record.cfgSubscribeDetailId != null" >
        cfg_subscribe_detail_id = #{record.cfgSubscribeDetailId,jdbcType=BIGINT},
      </if>
      <if test="record.cfgSubscribeId != null" >
        cfg_subscribe_id = #{record.cfgSubscribeId,jdbcType=BIGINT},
      </if>
      <if test="record.dbObjectName != null" >
        db_object_name = #{record.dbObjectName,jdbcType=VARCHAR},
      </if>
      <if test="record.cfgTopicId != null" >
        cfg_topic_id = #{record.cfgTopicId,jdbcType=BIGINT},
      </if>
      <if test="record.dbObjectDatas != null" >
        db_object_datas = #{record.dbObjectDatas,jdbcType=VARCHAR},
      </if>
      <if test="record.partitionStrategy != null" >
        partition_strategy = #{record.partitionStrategy,jdbcType=TINYINT},
      </if>
      <if test="record.partitionKey != null" >
        partition_key = #{record.partitionKey,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        `status` = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.creatorId != null" >
        creator_id = #{record.creatorId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifierId != null" >
        modifier_id = #{record.modifierId,jdbcType=BIGINT},
      </if>
      <if test="record.modifyTime != null" >
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dataFilterExpression != null" >
        data_filter_expression = #{record.dataFilterExpression,jdbcType=VARCHAR},
      </if>
      <if test="record.dbObjectOperateType != null" >
        db_object_operate_type = #{record.dbObjectOperateType,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update `cfg_subscribe_detail`
    set cfg_subscribe_detail_id = #{record.cfgSubscribeDetailId,jdbcType=BIGINT},
      cfg_subscribe_id = #{record.cfgSubscribeId,jdbcType=BIGINT},
      db_object_name = #{record.dbObjectName,jdbcType=VARCHAR},
      cfg_topic_id = #{record.cfgTopicId,jdbcType=BIGINT},
      db_object_datas = #{record.dbObjectDatas,jdbcType=VARCHAR},
      partition_strategy = #{record.partitionStrategy,jdbcType=TINYINT},
      partition_key = #{record.partitionKey,jdbcType=VARCHAR},
      `status` = #{record.status,jdbcType=TINYINT},
      creator_id = #{record.creatorId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      modifier_id = #{record.modifierId,jdbcType=BIGINT},
      modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      data_filter_expression = #{record.dataFilterExpression,jdbcType=VARCHAR},
      db_object_operate_type = #{record.dbObjectOperateType,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hframework.hamster.cfg.domain.model.CfgSubscribeDetail" >
    update `cfg_subscribe_detail`
    <set >
      <if test="cfgSubscribeId != null" >
        cfg_subscribe_id = #{cfgSubscribeId,jdbcType=BIGINT},
      </if>
      <if test="dbObjectName != null" >
        db_object_name = #{dbObjectName,jdbcType=VARCHAR},
      </if>
      <if test="cfgTopicId != null" >
        cfg_topic_id = #{cfgTopicId,jdbcType=BIGINT},
      </if>
      <if test="dbObjectDatas != null" >
        db_object_datas = #{dbObjectDatas,jdbcType=VARCHAR},
      </if>
      <if test="partitionStrategy != null" >
        partition_strategy = #{partitionStrategy,jdbcType=TINYINT},
      </if>
      <if test="partitionKey != null" >
        partition_key = #{partitionKey,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="creatorId != null" >
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null" >
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataFilterExpression != null" >
        data_filter_expression = #{dataFilterExpression,jdbcType=VARCHAR},
      </if>
      <if test="dbObjectOperateType != null" >
        db_object_operate_type = #{dbObjectOperateType,jdbcType=TINYINT},
      </if>
    </set>
    where cfg_subscribe_detail_id = #{cfgSubscribeDetailId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hframework.hamster.cfg.domain.model.CfgSubscribeDetail" >
    update `cfg_subscribe_detail`
    set cfg_subscribe_id = #{cfgSubscribeId,jdbcType=BIGINT},
      db_object_name = #{dbObjectName,jdbcType=VARCHAR},
      cfg_topic_id = #{cfgTopicId,jdbcType=BIGINT},
      db_object_datas = #{dbObjectDatas,jdbcType=VARCHAR},
      partition_strategy = #{partitionStrategy,jdbcType=TINYINT},
      partition_key = #{partitionKey,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=TINYINT},
      creator_id = #{creatorId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      data_filter_expression = #{dataFilterExpression,jdbcType=VARCHAR},
      db_object_operate_type = #{dbObjectOperateType,jdbcType=TINYINT}
    where cfg_subscribe_detail_id = #{cfgSubscribeDetailId,jdbcType=BIGINT}
  </update>
</mapper>